In [1]:
# Open 2015 and conduct mean smoothing on a feature
import pysal
import numpy as np
from pysal.esda import smoothing as sm
thresh = pysal.min_threshold_dist_from_shapefile("./data/parcels/stpete_sales_2015.shp")
tw = pysal.threshold_binaryW_from_shapefile("./data/parcels/stpete_sales_2015.shp", thresh)
w = pysal.open('./data/parcels/stpete_sales_2015.gal', 'r').read()
stp = pysal.open("./data/parcels/stpete_sales_2015.dbf", 'r')
e, b = np.array(stp[:,75]).astype(int), np.array(stp[:,96]).astype(int)
if not w.id_order_set: w.id_order = range(1,len(stp) + 1)
rate = sm.Disk_Smoother(e, b, w)
rate.r

array([[ 164.69631868],
       [ 174.21885945],
       [ 168.89349407],
       ...,
       [ 163.82188767],
       [ 165.77595913],
       [ 166.44117593]])

In [2]:
# Open 2015 and conduct median smoothing on a feature
med_rate = sm.Spatial_Median_Rate(e, b, w)
med_rate = med_rate.r.astype(int)
med_rate

array([162, 168, 161, ..., 161, 162, 162])

In [3]:
# Append these rates to the table and write it
import geopandas as gpd
stp_sales_2015 = gpd.read_file('./data/parcels/stpete_sales_2015.shp')
stp_sales_2015['med_smooth_ft'] = med_rate.tolist()
stp_sales_2015.to_file('./output/stpete_sales_2015.shp')
stp_sales_2015.head()

,AVE_FAM_SZ,AVE_HH_SZ,CentroidX,CentroidY,HS_PER_AC,MEDFINCOME,MEDHHINC,MEDOOHVAL,MED_AGE,PCT_AMERI,...,tif_flag_t,tot_effect,tot_gross_,tot_living,total_livi,views,x,y,year_built,med_smooth_ft
0,2.777506,2.19,-82.642882,27.810570,4.596851,68229,54321,125200,46,0.0,...,None,1164,1386,1048,1,None,-82.642882,27.810570,1960,162
1,2.777506,2.19,-82.646179,27.811467,4.596851,68229,54321,125200,46,0.0,...,None,1672,2102,1486,1,None,-82.646179,27.811467,1986,168
2,2.777506,2.19,-82.644930,27.812377,4.596851,68229,54321,125200,46,0.0,...,None,1626,1872,1468,1,None,-82.644930,27.812377,1979,161
3,2.777506,2.19,-82.643034,27.813685,4.596851,68229,54321,125200,46,0.0,...,None,1855,2440,1680,1,None,-82.643034,27.813685,1967,157
4,2.777506,2.19,-82.644526,27.813679,4.596851,68229,54321,125200,46,0.0,...,None,1524,1841,1453,1,None,-82.644526,27.813679,1942,159